<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>編輯會議 | 高大資工會議管理系統</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/style/layout.css">
  <link rel="stylesheet" href="/style/meeting/overview.css">
</head>
<body>
  <%- include('../layout') %>

  <div class="container-fluid">
    <!-- 會議列表 -->
    <div class="row">
      <div id="meeting_list" class="col-sm-12 col-md-4 col-lg-4">
        <div class="card">
          <div class="card-header">2022/01/01</div>
          <div class="card-body">
            <div class="card_content" data-bs-toggle="modal" data-bs-target="#exampleModal_1">
              <div id="card_title">
                <div class="ellipsis">109學年度第二學期第一次系務會議議程</div>
              </div>
              <p class="card-text m-0">18:00</p>
            </div>
            <div class="btn_group">
              <a href="http://">
                <button class="edit_btn btn mb-1">
                  <span class="material-icons">edit</span>
                </button>
              </a>
              <a href="http://">
                <button class="del_btn btn mb-1">
                  <span class="material-icons">delete</span>
                </button>
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">2022/01/11</div>
          <div class="card-body">
            <div class="card_content" data-bs-toggle="modal" data-bs-target="#exampleModal_2">
              <div id="card_title">
                <div class="ellipsis">109學年度第二學期第一次系務會議議程</div>
              </div>
              <p class="card-text m-0">18:00</p>
            </div>
            <div class="btn_group">
              <a href="http://">
                <button class="edit_btn btn mb-1">
                  <span class="material-icons">edit</span>
                </button>
              </a>
              <a href="http://">
                <button class="del_btn btn mb-1">
                  <span class="material-icons">delete</span>
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- 會議預覽 -->
      <!-- Modal for mobile -->
      <div class="modal fade" id="exampleModal_1" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header justify-content-center">
              <div class="modal-title d-flex flex-column align-items-center" id="exampleModalLabel">
                <div id="semester">109學年度第二學期</div>
                <div id="meeting_name">第一次系務會議議程</div>
              </div>
            </div>
            <div class="modal-body">
              <p>主席：陳鼎元</p>
              <p>書記：林鈺修</p>
              <div class="extended_list">
                <p>與會人員：</p>
                <p>林子閎、陳泓銘</p>
              </div>
              <div class="extended_list">
                <p>可閱讀人員：</p>
                <p>陳鼎元、林鈺修、林子閎、陳泓銘、陳淑真</p>
              </div>
              <div class="extended_list">
                <p>可編輯人員：</p>
                <p>林鈺修、林子閎</p>
              </div>
              <p>地點：本校工學院 3 樓資工系會議室 313 室</p>
              <h3>主席致詞</h3>
              <p>略</p>
            </div>
            <div class="modal-footer m-auto border-0">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                <span class="material-icons">
                  close
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="exampleModal_2" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header justify-content-center">
              <div class="modal-title d-flex flex-column align-items-center" id="exampleModalLabel">
                <div id="semester">109學年度第二學期</div>
                <div id="meeting_name">第一次系務會議議程</div>
              </div>
            </div>
            <div class="modal-body">
              <p>主席：陳鼎元</p>
              <p>書記：林鈺修</p>
              <div class="extended_list">
                <p>與會人員：</p>
                <p>林子閎、陳泓銘</p>
              </div>
              <div class="extended_list">
                <p>可閱讀人員：</p>
                <p>陳鼎元、林鈺修、林子閎、陳泓銘、陳淑真</p>
              </div>
              <div class="extended_list">
                <p>可編輯人員：</p>
                <p>林鈺修、林子閎</p>
              </div>
              <p>地點：本校工學院 3 樓資工系會議室 313 室</p>
              <h3>主席致詞</h3>
              <p>幹你的</p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quam assumenda numquam quas. Et unde autem natus, blanditiis tenetur atque voluptatem beatae molestiae sunt quas consequuntur? Minima blanditiis dolor deleniti ipsa eveniet consequatur? Illo sit porro quisquam. Deserunt mollitia sunt adipisci. Perferendis laborum facere nam mollitia officia excepturi neque nesciunt, dolorem porro aliquam dignissimos illo in deserunt et rem esse? At rem quam quos ullam vel autem nostrum adipisci quaerat eligendi sit eum totam numquam odit, enim eaque asperiores minus dicta odio sint suscipit illum? Iste quasi minima, quia dolore deserunt nemo necessitatibus, ullam voluptatibus omnis explicabo, consectetur maxime quis?</p>
            </div>
            <div class="modal-footer m-auto border-0">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                <span class="material-icons">
                  close
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- for PC -->
      <div id="meeting_viewer" class="col-sm-12 col-md-8 col-lg-8">
        <h2 class="title">
          國立高雄大學109學年度第二學期第一次系務會議議程
        </h2>
        <p>主席：陳鼎元</p>
        <p>書記：林鈺修</p>
        <div class="extended_list">
          <p>與會人員：</p>
          <p>林子閎、陳泓銘</p>
        </div>
        <div class="extended_list">
          <p>可閱讀人員：</p>
          <p>陳鼎元、林鈺修、林子閎、陳泓銘、陳淑真</p>
        </div>
        <div class="extended_list">
          <p>可編輯人員：</p>
          <p>林鈺修、林子閎</p>
        </div>
        <p>地點：本校工學院 3 樓資工系會議室 313 室</p>
        <h3>主席致詞</h3>
        <p>略</p>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../../js/overview.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>
