#quick_start .material-icons {
  font-size: 80px;
  padding-top: 8%;
  padding-left: 3%;
}

#quick_start h3,
#quick_start_mobile button {
  font-weight: bold;
  height: 50px;
}

/*===================================================*/
.open_calendar {
  width: 15vw;
  display: block;
  text-align: center;
  margin: 0 auto;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
}

.open_calendar:hover {
  box-shadow: 0 5px 20px inset rgba(0, 0, 0, 0.5);
}

.calendar_choose {
  text-align: center;
  font-family: "Freestyle Script";
  font-size: 34px;
  font-weight: bold;
}

.calendar_choose select {
  padding: 5px 15px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

#calendar thead {
  font-family: "Freestyle Script";
  font-size: 40px;
  font-weight: bold;
  background-color: rgb(197, 231, 231);
}

#calendar tbody {
  background-color: rgb(163, 190, 212);
}

#calendar thead tr,
#calendar tbody tr {
  justify-content: space-around;
  padding: 10px 10px;
}

#calendar thead td {
  margin: 0 auto;
  width: 12vw;
  text-align: center;
}

#calendar tbody td {
  position: relative;
  height: 15vh;
  width: 13.5vw;
  display: flex;
  flex-direction: column;
}

#calendar tbody tr span {
  font-size: 34px;
  font-weight: bold;
  font-family: "Freestyle Script";
  display: block;
  border-radius: 20%;
  width: 40px;
  text-align: center;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

#calendar .meeting_name {
  font-family: "Gen Jyuu Gothic";
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.first_color,
.tenth_color {
  background-color: #b6e3ff;
}

.second_color,
.ninth_color {
  background-color: #b5ffff;
}

.third_color,
.eighth_color {
  background-color: #ffffb0;
}

.fourth_color,
.seventh_color {
  background-color: #ff9e80;
}

.fifth_color,
.sixth_color {
  background-color: #ccff90;
}


/*===================================================*/

#phone_calendar {
  background-color: #1b1b1b;
  color: aliceblue;
  font-family: "Gen Jyuu Gothic";
  padding: 0 5px;
}

#phone_calendar table {
  width: 100%;
}

#phone_calendar tr {
  vertical-align: top;
}

#phone_calendar td {
  text-align: center;
  color: #1b1b1b;
}

#phone_calendar td div {
  border-radius: 8px;
}

#phone_calendar td h3 {
  padding: 3px 0;
}

#phone_calendar table tr td:first-child {
  color: aliceblue;
}

.decorate_current_date {
  background-color: #424242;
  border-bottom: 5px solid lightslategray;
}

.decorate_current_date td {}

.no_activity {
  color: #6d6d6d;
  font-size: 28px;
  vertical-align: middle;
  text-align-last: left;
}
