/* INFO: navigation */
header {
  font-family: "Noto Sans TC";
}

.dark {
  color: white;
}

body.dark {
  background: #303134;
}

.material-icons {
  font-size: 32px;
}

nav {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.navbar-brand {
  display: flex;
}

.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.layout {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav_dark_mode {
  box-shadow: 0 5px 20px rgba(255, 255, 255, 0.5);
}

.nav-link {
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  transition: color .15s ease-in-out;
}

@media screen and (max-width:992px) {
  .nav-link {
    text-align: left;
  }
}

#brand_icon {
  font-size: 48px;
  padding: 0 10px;
}

#brand_name {
  font-size: 24px;
  font-weight: bold;
  padding: 8px 5px;
}

#username {
  font-size: 20px;
  font-weight: bold;
  margin-right: 2vw;
}

#darkmode_icon {
  padding: 5px;
  cursor: pointer;
}

#nav_btn {
  margin-left: 3vw;
}

/* INFO: 統一樣式 */
*,
*::before,
*::after {
  font-family: "Gen Jyuu Gothic";
  font-weight: bold;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, .125);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .125);
  border-radius: 50px;
  border: .3px solid rgba(0, 0, 0, .15);
}

h2 {
  margin: 0 7vw;
  font-weight: bold;
}

hr {
  margin: 1vh 7vw 2vh;
}

input {
  padding: 2px 8px;
}

.icon_text_button {
  padding: 1vh 1vw;
  background-color: transparent;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 5px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon_text_button:hover {
  background-color: #bdbdbd;
  box-shadow: 0 5px 20px inset rgba(0, 0, 0, 0.3);
}

.icon_text_button .material-icons {
  font-size: 22px;
  margin-right: 5px;
}

.card h3 {
  font-weight: bold;
}

.body_dark_mode {
  background-color: #303134;
  color: #fff;
}

.dark_icon {
  color: azure;
  background-color: azure;
}
