* {
  font-family: "Gen Jyuu Gothic";
  font-weight: bold;
}

h2 {
  margin: 0 7vw;
  font-weight: bold;
}

hr {
  margin: 1vh 7vw 2vh;
}

#my_info label {
  font-size: 18px;
}

#my_info button,
#my_photo button,
#representative_table tfoot button {
  padding: 1vh 1vw;
  background-color: transparent;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 5px;
  font-size: 18px;
}

#my_info button:hover,
#my_photo button:hover,
#representative_table tfoot button:hover {
  background-color: #bdbdbd;
  box-shadow: 0 5px 20px inset rgba(0, 0, 0, 0.3);
}

#my_info input,
label {
  margin-top: 10px;
}

#edit_btn {
  display: flex;
  margin: 20px 0;
}

#edit_btn button {
  display: flex;
  width: 100px;
  justify-content: center;
}

#my_photo img {
  width: 200px;
  height: 200px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
}

#my_photo button {
  margin: 5px;
}

.scroll {
  max-height: 300px;
  overflow-y: scroll;
}

#group {
  padding: 0 2vw 0 1vw;
}

#advanced_setting .badge {
  font-size: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#advanced_setting .list-group-item {
  font-size: 18px;
}

#representative_table {
  height: 50vh;
  text-align: center;
}

#representative_table td {
  font-size: 18px;
  vertical-align: middle;
}

.table_item button {
  font-size: 18px;
  background-color: transparent;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.table_item .material-icons {
  font-size: 28px;
}

.table_item button:hover {
  box-shadow: 0 5px 20px inset rgba(0, 0, 0, 0.5);
}

.table_item input {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
