<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>首頁 | 高大資工會議管理系統</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="./../style/layout.css">
  <link rel="stylesheet" href="./../style/dashboard.css">
</head>
<body>
  <%- include('layout') %>

  <!-- 大螢幕版本的 Quick Start-->
  <div id="quick_start" class="container-fluid mb-5 d-none d-md-block">
    <div class="row mx-2">
      <div class="card text-white bg-primary m-1 col">
        <span class="material-icons">add</span>
        <div class="card-body">
          <h3 class="card-title">建立會議</h3>
          <p class="card-text">立即建立新的會議，並選擇與會人員和時間</p>
        </div>
      </div>
      <div class="card text-white bg-secondary m-1 col">
        <span class="material-icons">alarm</span>
        <div class="card-body">
          <h3 class="card-title">即將到來</h3>
          <p class="card-text">顯示未來即將與會，以及有權限查閱的所有會議</p>
        </div>
      </div>
      <div class="card text-white bg-success m-1 col">
        <span class="material-icons">history</span>
        <div class="card-body">
          <h3 class="card-title">歷史會議</h3>
          <p class="card-text">顯示過去曾經與會，以及有權限查閱的所有會議</p>
        </div>
      </div>
      <div class="card text-white bg-danger m-1 col">
        <span class="material-icons">account_circle</span>
        <div class="card-body">
          <h3 class="card-title">個人資料</h3>
          <p class="card-text">查看/修改您的個人資料</p>
        </div>
      </div>
    </div>
  </div>

  <!-- 小螢幕版本的 Quick Start-->
  <div id="quick_start_mobile" class="container-fluid mb-5 d-block d-md-none">
    <div class="d-grid gap-1">
      <button class="btn text-white bg-primary">建立會議</button>
      <button class="btn text-white bg-secondary">即將到來的會議</button>
      <button class="btn text-white bg-success">歷史會議</button>
      <button class="btn text-white bg-danger">查看/修改個人資料</button>
    </div>
  </div>

  <div>
    <!-- 課表 -->
    <button class="open_calendar">
      <img src="./../img/calendar.png" alt="">
    </button>
    <table id="calendar" class="container-fluid">
      <thead>
        <tr class="d-flex mx-auto">
          <td>SUNDAY</td>
          <td>MONDAY</td>
          <td>TUESDAY</td>
          <td>WEDNESDAY</td>
          <td>THURSDAY</td>
          <td>FRIDAY</td>
          <td>SATURDAY</td>
        </tr>
      </thead>
      <tbody>
        <tr class="d-flex mx-auto">
          <td class="first_color">
            <span>1</span>
          </td>
          <td class="second_color">
            <span>2</span>
          </td>
          <td class="third_color">
            <span>3</span>
          </td>
          <td class="fourth_color">
            <span>4</span>
          </td>
          <td class="fifth_color">
            <span>5</span>
          </td>
          <td class="sixth_color">
            <span>6</span>
          </td>
          <td class="seventh_color">
            <span>7</span>
          </td>
        </tr>
        <tr class="d-flex mx-auto">
          <td class="second_color">
            <span>8</span>
          </td>
          <td class="third_color">
            <span>9</span>
          </td>
          <td class="fourth_color">
            <span>10</span>
          </td>
          <td class="fifth_color">
            <span>11</span>
          </td>
          <td class="sixth_color">
            <span>12</span>
            <div class="meeting_name">紫紅很醜</div>
          </td>
          <td class="seventh_color">
            <span>13</span>
          </td>
          <td class="eighth_color">
            <span>14</span>
          </td>
        </tr>
        <tr class="d-flex mx-auto">
          <td class="third_color">
            <span>15</span>
            <div class="meeting_name">紫紅很醜</div>
            <div class="meeting_name">紫紅很醜</div>
            <div class="meeting_name">紫紅很醜</div>
          </td>
          <td class="fourth_color">
            <span>16</span>
          </td>
          <td class="fifth_color">
            <span>17</span>
          </td>
          <td class="sixth_color">
            <span>18</span>
          </td>
          <td class="seventh_color">
            <span>19</span>
          </td>
          <td class="eighth_color">
            <span>20</span>
          </td>
          <td class="ninth_color">
            <span>21</span>
          </td>
        </tr>
        <tr class="d-flex mx-auto">
          <td class="fourth_color">
            <span>22</span>
          </td>
          <td class="fifth_color">
            <span>23</span>
          </td>
          <td class="sixth_color">
            <span>24</span>
          </td>
          <td class="seventh_color">
            <span>25</span>
          </td>
          <td class="eighth_color">
            <span>26</span>
          </td>
          <td class="ninth_color">
            <span>27</span>
          </td>
          <td class="tenth_color">
            <span>28</span>
          </td>
        </tr>
        <tr class="d-flex justify-content-around">
          <td class="fifth_color">
            <span>29</span>
          </td>
          <td class="sixth_color">
            <span>30</span>
          </td>
          <td class="seventh_color">
            <span>31</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <script src="./../js/dashboard.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>
