<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>高大資工會議管理系統</title>
</head>
<body>
  <h1>Oops!</h1>
  <img src="/img/facepalm.gif" style="width: 100%; max-width: 600px;">
  <h2>Something wrong with server, please try again later! </h2>
  <div style="margin: 10px 0;">
    <button><a href="/login" style="text-decoration: none; color: #000;">回到登入畫面</a></button>
  </div>
  <textarea type="text" rows="10" style="width: 100%; max-width: 1000px;" disabled><%= errmsg %></textarea>
</body>
</html>
