<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid wrap">
      <a class="navbar-brand" href="/dashboard">
        <span id="brand_icon" class="material-icons d-sm-none d-md-inline">groups</span>
        <span id="brand_name" class="d-none d-sm-inline">高大資工系會議管理系統</span>
      </a>
      <div class="layout">
        <span id="username">Hi, <%= username %> </span>
        <span id="darkmode_icon" class="material-icons">brightness_4</span>
        <button id="nav_btn" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="material-icons">menu</span>
        </button>
      </div>
    </div>

    <div id="navbarNav" class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link px-3" href="#">我的會議</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" href="">設定</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" href="">關於</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" href="/login">登出</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div style="height: 100px;">
  <!-- 撐起 nav 的高度 -->
</div>
