<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>登入 | 高大資工會議管理系統</title>
  <link rel="stylesheet" href="./../style/login.css">
</head>
<body>
  <div id="holder"></div>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>高大資工系會議管理系統</h1>
        <form method="POST" action='/login'>
          <label for="account">帳號</label>
          <input id="account" name="account" type="text">
          <label for="password">密碼</label>
          <input id="password" name="password" type="password">
          <input id="login_btn" type="submit" value="登入">
        </form>
      </div>
      <% if (errmsg != '') { %>
      <div class="error"><%= errmsg %></div>
      <% } %>
    </div>
  </div>



  <script src="./../js/login.js"></script>
</body>
</html>
