<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>登入 | 高大資工會議管理系統</title>
  <link rel="stylesheet" href="./../style/login.css">
</head>
<body>
  <h1 id="h1">Login Page</h1>

  <script src="./../js/login.js"></script>
</body>
</html>
