<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>個人資料 | 高大資工會議管理系統</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="./../style/layout.css">
  <link rel="stylesheet" href="./../style/profile.css">
</head>
<body>
  <%- include('layout') %>

  <div class="container-fluid original_setting">
    <div class="row">
      <div class="col">
        <h2 class="setting">一般設定</h2>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-12 col-lg-8 my_info order-sm-2 order-lg-1">
        <label for="">帳號</label>
        <input type="account">
        <label for="">密碼</label>
        <input type="password">
        <label for="">全名</label>
        <input type="name">
        <label for="">郵箱</label>
        <input type="email" placeholder=" 您的 Email ">
        <label for="">電話</label>
        <input type="phone">

        <div class="edit">
          <button type="text" class="edit_icon">
            <span class="material-icons" style="font-size: 22px;">
              edit
            </span>
            編輯
          </button>
          <button type="text">儲存</button>
          <button type="reset">重設</button>
        </div>
      </div>
      <div class="col-sm-12 col-lg-4 my_photo order-sm-1 order-lg-2">
        <img src="./../img/photo.jpg" alt="" class="d-block">
        <button type="button" class="d-block">選擇大頭貼</button>
        <button type="reset" class="d-block">重設大頭貼</button>
      </div>
    </div>
  </div>
  <div class="container-fluid advanced_setting">
    <div class="row">
      <div class="col">
        <h2 class="setting">進階設定</h2>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-2">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            學生代表
            <span class="badge bg-transparent text-dark rounded-pill">100</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            系助理
            <span class="badge bg-transparent text-dark rounded-pill"></span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            系上老師
            <span class="badge bg-transparent text-dark rounded-pill"></span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            校外老師
            <span class="badge bg-transparent text-dark rounded-pill"></span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            業界專家
            <span class="badge bg-transparent text-dark rounded-pill"></span>
          </li>
        </ul>
      </div>
      <div class="col-10 scroll">
        <table id="student_representative" class="table">
          <thead>
            <tr>
              <td>帳號</td>
              <td>姓名</td>
              <td>是否為管理員</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>PurpleRed</td>
              <td>林子閎</td>
              <td>
                <input class="me-2" type="radio" name="manager1" id="yes" style="width: 22px; height:22px; vertical-align: middle;">
                <span>是</span>
                <input class="mx-2" type="radio" name="manager1" id="no" style="width: 22px; height:22px; vertical-align: middle;">
                <span>否</span>
              </td>
              <td>
                <button>
                  <span class="material-icons">
                    edit
                  </span>
                </button>
                <button>
                  <span class="material-icons">
                    delete_forever
                  </span>
                </button>
              </td>
            </tr>
            <tr>
              <td>PurpleRed</td>
              <td>林子閎</td>
              <td>
                <input class="me-2" type="radio" name="manager2" id="yes" style="width: 22px; height:22px; vertical-align: middle;">
                <span>是</span>
                <input class="mx-2" type="radio" name="manager2" id="no" style="width: 22px; height:22px; vertical-align: middle;">
                <span>否</span>
              </td>
              <td>
                <button>
                  <span class="material-icons">
                    edit
                  </span>
                </button>
                <button>
                  <span class="material-icons">
                    delete_forever
                  </span>
                </button>
              </td>
            </tr>
            <tr>
              <td>PurpleRed</td>
              <td>林子閎</td>
              <td>
                <input class="me-2" type="radio" name="manager3" id="yes" style="width: 22px; height:22px; vertical-align: middle;">
                <span>是</span>
                <input class="mx-2" type="radio" name="manager3" id="no" style="width: 22px; height:22px; vertical-align: middle;">
                <span>否</span>
              </td>
              <td>
                <button>
                  <span class="material-icons">
                    edit
                  </span>
                </button>
                <button>
                  <span class="material-icons">
                    delete_forever
                  </span>
                </button>
              </td>
            </tr>
            <tr>
              <td>PurpleRed</td>
              <td>林子閎</td>
              <td>
                <input class="me-2" type="radio" name="manager4" id="yes" style="width: 22px; height:22px; vertical-align: middle;">
                <span>是</span>
                <input class="mx-2" type="radio" name="manager4" id="no" style="width: 22px; height:22px; vertical-align: middle;">
                <span>否</span>
              </td>
              <td>
                <button>
                  <span class="material-icons">
                    edit
                  </span>
                </button>
                <button>
                  <span class="material-icons">
                    delete_forever
                  </span>
                </button>
              </td>
            </tr>
            <tr>
              <td>PurpleRed</td>
              <td>林子閎</td>
              <td>
                <input class="me-2" type="radio" name="manager5" id="yes" style="width: 22px; height:22px; vertical-align: middle;">
                <span>是</span>
                <input class="mx-2" type="radio" name="manager5" id="no" style="width: 22px; height:22px; vertical-align: middle;">
                <span>否</span>
              </td>
              <td>
                <button>
                  <span class="material-icons">
                    edit
                  </span>
                </button>
                <button>
                  <span class="material-icons">
                    delete_forever
                  </span>
                </button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td>
                <button class="person_add">
                  <span class="material-icons" style="font-size: 50px;">
                    person_add
                  </span>
                </button>
              </td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>

  <script src="./../js/profile.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>
