.btn {
  width: 28px;
  height: 28px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.125);
}

.material-icons {
  font-size: 20px;
}


/* ======================================== */

#meeting_list {
  overflow-y: scroll;
  margin: 3vh 0;
  height: 94vh;
  border: 0.3px solid rgba(0, 0, 0, .125);
  padding: 0;
}

#meeting_list .card {
  margin: 0 auto 3% auto;
}

#meeting_list .card-header {
  font-size: 20px;
}

#meeting_list .card-body {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  height: 80px;
}

#meeting_list .card-body:hover {
  background-color: #ddebf9;
}

#meeting_list .card_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#meeting_list .card-text {
  text-align: center;
  width: 79px;
  min-width: 79px;
}

#meeting_list .btn_group {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: -15px;
}

#meeting_list .btn_group .btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
}


#meeting_list .btn_group .edit_btn:hover {
  color: #4caf50;
}

#meeting_list .btn_group .del_btn:hover {
  color: red;
}

/* ==================================================== */
#meeting_viewer {
  padding: 3%;
  margin: 3vh 0;
  height: 94vh;
  border: 0.3px solid rgba(0, 0, 0, .125);
}

#meeting_viewer .title {
  text-align: center;
  margin-bottom: 8vh;
  display: flex;
  justify-content: center;
  transition: all 1s ease;
}

#meeting_viewer .extended_list {
  display: flex;
  flex-direction: row;
  transition: all 1s ease;
}

@media screen and (max-width:768px) {
  #meeting_viewer .extended_list {
    flex-direction: column;
  }

  #meeting_list .card-body {
    align-items: center;
  }

  #meeting_list .card_content {
    height: 70px;
  }

  #meeting_list .card-title {
    font-size: 20px;
  }

  #meeting_list .btn_group {
    top: -6px;
  }
}

@media screen and (max-width:1400px) {
  #meeting_viewer .title {
    display: block;
    margin-bottom: 32px;
  }
}
